fastapi
uvicorn
langchain
langchain-ollama
langchain-community
faiss-cpu
pymupdf
beautifulsoup4
python-multipart
qdrant-client
python-dotenv
pypdf
langchain-qdrant
neo4j
langchain-core
langchain-openai
langchain-text-splitters
tiktoken
wikipedia
langchain-neo4j
openai